<div class="row" ng-controller="LoginCtrl">

    <div id="login-page" class="col s3 z-depth-4 card-panel">
       <!-- <h3 class="thin center-align">Joyn</h3>-->
        <form class="login-form" ng-submit="autenticar(user)">
            <div class="row">
                <div class="input-field col s12 center">
                    <img src="./static/images/joyn-logo-circular.png" alt="" class="circle responsive-img valign profile-image-login">
                    <p class="center login-form-text">Universidade Federal do Ceará</p>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="username" type="text" ng-model="user.usuario">
                    <label for="username" class="center-align" >Username</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12 ">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="password" type="password" ng-model="user.senha">
                    <label for="password">Password</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn waves-effect cyan darken-3 lighten-1 waves-light col s12">Login</button>
                </div>
            </div>


        </form>
    </div>
</div>
