<div class="row" ng-init="seeEvents()">
    <div class="col s12">
        <div class="row">
            <h1 class="thin center">Lista de Eventos</h1>
            <div id="botoes" class="col s12 center-align">
                <a href="#/addEvent" class="orange waves-effect waves-light btn-large">
                    <i class="fa fa-plus left" aria-hidden="true">
                </i>Novo Evento</a>
                <!--<a class="orange waves-effect waves-light btn-large"><i class="fa fa-plus left" aria-hidden="true"></i>button</a>
                <a class="orange waves-effect waves-light btn-large"><i class="fa fa-plus left" aria-hidden="true"></i>button</a>-->
            </div>


        </div>
        <div id="cards-event" ng-controller="EventCtrl" ng-repeat="event in events" class="col s6">
            <div class="card cyan">
                <div class="card-content">
                    <span class="card-title ">{{event.name}}</span>
                    <p class="white-text">{{event.description}}</p>
                </div>
                <div class="card-action cyan darken-3">
                    <a href="#" class=" red-text accent-3 text-accent-1" ng-click="deleteEvent(event._id)">Delete</a>
                    <a href="#/codesEvent/{{event._id}}" class="lime-text lighten-3" >Códigos</a>
                    <a href="#/qrcodes/{{event._id}}" class="lime-text lighten-3">Lista de Qrcodes</a>
                    <a href="#/ranking/{{event._id}}" class="lime-text lighten-3" >Ranking</a>

                </div>
            </div>
        </div>

    </div>


</div>

